{% extends "base.html" %}

{% block content %}

<h1>{{object.nome}}
    <span class="pull-right">
      <a href="{% url 'usuarios:titular_list' %}">
        <button type="button" class="btn btn-warning">
            <span class="fa fa-undo"></span> Voltar
        </button>
      </a>
    </span>
</h1>

<div class="col-sm-6">
    <table class="table table-user-information">
      <tbody>
        <tr>
          <th class="text-right">Validade: </th>
          <td>{{ object.dt_validade }}</td>
        </tr>
        <tr>
          <th class="text-right">Data do pedido:</th>
          <td>{{ object.dt_pedido }} </td>
        </tr>
        <tr>
          <th class="text-right">CPF:</th>
          <td>{{ object.cpf }}</td>
        </tr>
        <tr>
          <th class="text-right">Próxima viagem:</th>
          <td>{{ dt_retorno }}</td>
        </tr>
        <tr>
          <th class="text-right">Id da cisterna:</th>
          <td>{{ cisterna.codigo }}</td>
        </tr>
        <tr>
          <th class="text-right">Volume:</th>
          <td>{{ cisterna.volume }}</td>
        </tr>
      </tbody>
    </table>
</div>

{% endblock content %}
