<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{% url 'resgistro' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Username" name="username">
            <br>
            <br>
        <input type="email" placeholder="Email" name="email">
            <br>
            <br>
        <input type="password" placeholder="Password" name="password">
            <br>
            <br>
        <input type="submit" value ="Registrar">
            <br>

    </form>
</body>
</html>