{% extends "base.html" %}

{% block content %}

<h1>{{object}}
    <span class="pull-right">
      <a href="{% url 'usuarios:titular_list' %}">
        <button type="button" class="btn btn-info">
            <span class="fa fa-undo"></span> Voltar
        </button>
      </a>
      <a href="{% url 'usuarios:titular_edit' object.pk %}">
        <button type="button" class="btn btn-warning">
            <span class="fa fa-pencil "></span> Editar
        </button>
      </a>
    </span>
</h1>

<div class="col-sm-6">
    <table class="table table-user-information">
      <tbody>
        <tr>
            <th class="text-right">Ativo</th>
                <td>
                    {% if object.ativo %}
                      <i class="fa fa-check-circle ok"></i>
                    {% else %}
                      <i class="fa fa-minus-circle no"></i>
                    {% endif %}
                </td>
        </tr>
        <tr>
          <th class="text-right">Validade: </th>
          <td>{{ object.dt_validade }}</td>
        </tr>
        <tr>
          <th class="text-right">CPF:</th>
          <td>{{ object.cpf }}</td>
        </tr>
      </tbody>
    {% if membro_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dependente</th>
                <th>CPF</th>
                <th>Parentesco</th>
                <th>Idade</th>
                <th>Ocupação</th>
                <th>Renda</th>
            </tr>
        </thead>
        {% for membro in membro_list %}
        <tbody>
            <tr>
                <td>{{membro.nome}}</td>
                <td>{{membro.cpf}}</td>
                <td>{{membro.parentesco}}</td>
                <td>{{membro.idade}}</td>
                <td>{{membro.ocupacao}}</td>
                <td>{{membro.renda}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endif %}
    </div>

{% endblock content %}
